#friends-display-link {
     text-align: center;
     display: block;
     background-color: #fafafa;
     padding: 15px 0px;
     font-size: 16px;
     font-weight: 600;
     margin-bottom: 5px;
}

#friends-display-link i {
     color: rgba(0, 0, 0, 0.5);
}