#friends-display-link {
     text-align: center;
     display: block;
     background-color: #fafafa;
     padding: 15px 0px;
     font-size: 16px;
     font-weight: 600;
     margin-bottom: 5px;
     margin-top: -25px;
}

#friends-display-link i {
     color: rgba(0, 0, 0, 0.5);
}
.friends-screen__channel {
     margin-top: 25px;
     border-top: 1px solid rgba(0, 0, 0, 0.2);
     padding-top: 15px;
   }
 .friends-screen__channel-header {
     margin-bottom: 30px;
     display: flex;
     justify-content: space-between;
     color: rgba(0, 0, 0, 0.5);
   }