@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status_bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";

/* Screens */
@import "screens/find.css";
@import "screens/friends.css";
@import "screens/login.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";


body {
    color: rgb(56, 56, 56);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}
.status-bar {
    position: fixed;
    top: 0;
    width: 100%;
}
.main-screen {
    padding: 0px var(--horizontal-space);
}

