@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";
/* Components */
@import "status_bar.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "user-component.css";
@import "badge.css";
/* Screens */
@import "login.css";
@import "friends.css";


body {
    color: rgb(56, 56, 56);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}
.status-bar {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-screen {
    padding: 0px var(--horizontal-space);
}