.user-component {
    justify-content: space-between;
}


.user-component, .user-component__column {
    display: flex;
    align-items: center;
}
.user-component__avatar {
    width: 70px;
    height: 70px;
    border-radius: 25px;
    margin-right: 20px;
}
.user-component__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 8px;
}
.user-component__subtitle {
    color: rgba(0, 0, 0, 0.6);
    font-size: 18px;
}
.user-component__avatar--xl {
    width: 80px;
    height: 80px;
}
.user-component__avatar--sm {
    width: 60px;
    height: 60px;
}
.user-component__title--not-bold {
    font-weight: 500;
}
.friends-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
  }
.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
  }