.icon-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    border-bottom: var(--main-border);
    padding-bottom: 20px;
}
.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 15px;
}
.icon-row i {
    font-size: 35px;
}
.icon-row span {
    margin-top: 20px;
}
