.screen-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
}
.header__title_friends {
    font-size: 28px;
    font-weight: 600;
    
}
.header__icons span{
    margin-left: 25px;
}
.friends-screen {
    padding: 0px var(--horizontal-space);
}
.header__icons {
    position: relative;
}